In [114]:
from google.colab import drive
drive.mount('/content/gdrive/')

Drive already mounted at /content/gdrive/; to attempt to forcibly remount, call drive.mount("/content/gdrive/", force_remount=True).

In [115]:
import pandas as pd
import numpy as np

In [116]:
# 기상청 파고부이(khnp_buoy)
df = pd.read_csv('/content/gdrive/MyDrive/날씨빅콘/khnp_buoy_train.csv', index_col = 0)
df

,khnp_buoy_train.yyyymmddhhmi,khnp_buoy_train.stn_name,khnp_buoy_train.ws,khnp_buoy_train.wd
1,202101010000,Gori,37.0,84
2,202101010001,Gori,27.8,88
3,202101010002,Gori,39.3,84
4,202101010003,Gori,26.5,86
5,202101010004,Gori,36.6,85
...,...,...,...,...
786236,202206302355,Gori,56.8,47
786237,202206302356,Gori,60.9,53
786238,202206302357,Gori,59.0,42
786239,202206302358,Gori,65.2,47
786240,202206302359,Gori,67.5,48

In [117]:
# 울산
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 786240 entries, 1 to 786240
Data columns (total 4 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   khnp_buoy_train.yyyymmddhhmi  786240 non-null  int64
 1   khnp_buoy_train.stn_name      786240 non-null  object
 2   khnp_buoy_train.ws            786240 non-null  float64
 3   khnp_buoy_train.wd            786240 non-null  int64
dtypes: float64(1), int64(2), object(1)
memory usage: 30.0+ MB

In [118]:
# 수치형 자료 중 (-99,-99.9,-999 결측치 값으로 바꾸기)
df.replace(-99, np.nan, inplace=True)
df.replace(-99.9, np.nan, inplace=True)
df.replace(-999, np.nan, inplace=True)

In [119]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 786240 entries, 1 to 786240
Data columns (total 4 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   khnp_buoy_train.yyyymmddhhmi  786240 non-null  int64
 1   khnp_buoy_train.stn_name      786240 non-null  object
 2   khnp_buoy_train.ws            579225 non-null  float64
 3   khnp_buoy_train.wd            579269 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 30.0+ MB

In [120]:
df

,khnp_buoy_train.yyyymmddhhmi,khnp_buoy_train.stn_name,khnp_buoy_train.ws,khnp_buoy_train.wd
1,202101010000,Gori,37.0,84.0
2,202101010001,Gori,27.8,88.0
3,202101010002,Gori,39.3,84.0
4,202101010003,Gori,26.5,86.0
5,202101010004,Gori,36.6,85.0
...,...,...,...,...
786236,202206302355,Gori,56.8,47.0
786237,202206302356,Gori,60.9,53.0
786238,202206302357,Gori,59.0,42.0
786239,202206302358,Gori,65.2,47.0
786240,202206302359,Gori,67.5,48.0

In [121]:
start_date = pd.to_datetime('2021-01-01 00:00:00')
end_date = pd.to_datetime('2022-06-30 23:59:00')

time_range = pd.date_range(start=start_date, end=end_date, freq='T')
time = pd.DataFrame({'khnp_buoy_train.yyyymmddhhmi': time_range})

time['khnp_buoy_train.yyyymmddhhmi'] = time['khnp_buoy_train.yyyymmddhhmi'].dt.strftime('%Y%m%d%H%M')

In [122]:
time.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 786240 entries, 0 to 786239
Data columns (total 1 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   khnp_buoy_train.yyyymmddhhmi  786240 non-null  object
dtypes: object(1)
memory usage: 6.0+ MB

In [123]:
# gan의 시간 데이터는 int type,time_column의 데이터 타입은 object이므로 int로 변경
time['khnp_buoy_train.yyyymmddhhmi'] = time['khnp_buoy_train.yyyymmddhhmi'].astype(int)

In [124]:
df1 = pd.merge(time,df,how='outer',on='khnp_buoy_train.yyyymmddhhmi')
df1

,khnp_buoy_train.yyyymmddhhmi,khnp_buoy_train.stn_name,khnp_buoy_train.ws,khnp_buoy_train.wd
0,202101010000,Gori,37.0,84.0
1,202101010001,Gori,27.8,88.0
2,202101010002,Gori,39.3,84.0
3,202101010003,Gori,26.5,86.0
4,202101010004,Gori,36.6,85.0
...,...,...,...,...
786235,202206302355,Gori,56.8,47.0
786236,202206302356,Gori,60.9,53.0
786237,202206302357,Gori,59.0,42.0
786238,202206302358,Gori,65.2,47.0
786239,202206302359,Gori,67.5,48.0

In [125]:
df1

,khnp_buoy_train.yyyymmddhhmi,khnp_buoy_train.stn_name,khnp_buoy_train.ws,khnp_buoy_train.wd
0,202101010000,Gori,37.0,84.0
1,202101010001,Gori,27.8,88.0
2,202101010002,Gori,39.3,84.0
3,202101010003,Gori,26.5,86.0
4,202101010004,Gori,36.6,85.0
...,...,...,...,...
786235,202206302355,Gori,56.8,47.0
786236,202206302356,Gori,60.9,53.0
786237,202206302357,Gori,59.0,42.0
786238,202206302358,Gori,65.2,47.0
786239,202206302359,Gori,67.5,48.0

In [126]:
df1 = df1.reset_index(drop=True)
df1.index = df1.index + 1

In [127]:
df1['khnp_buoy_train.ws'] = df['khnp_buoy_train.ws'].interpolate(method='linear')
df1['khnp_buoy_train.wd'] = df['khnp_buoy_train.wd'].interpolate(method='linear')

In [128]:
df1.isnull().sum()

khnp_buoy_train.yyyymmddhhmi    0
khnp_buoy_train.stn_name        0
khnp_buoy_train.ws              0
khnp_buoy_train.wd              0
dtype: int64

In [129]:
df1

,khnp_buoy_train.yyyymmddhhmi,khnp_buoy_train.stn_name,khnp_buoy_train.ws,khnp_buoy_train.wd
1,202101010000,Gori,37.0,84.0
2,202101010001,Gori,27.8,88.0
3,202101010002,Gori,39.3,84.0
4,202101010003,Gori,26.5,86.0
5,202101010004,Gori,36.6,85.0
...,...,...,...,...
786236,202206302355,Gori,56.8,47.0
786237,202206302356,Gori,60.9,53.0
786238,202206302357,Gori,59.0,42.0
786239,202206302358,Gori,65.2,47.0
786240,202206302359,Gori,67.5,48.0

In [130]:
#부이_울산_전처리
df1.to_csv('/content/gdrive/MyDrive/날씨빅콘/부이_울산_전처리.csv')