In [ ]:
from google.colab import drive
drive.mount('/content/gdrive/')

Mounted at /content/gdrive/

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
busan_merged = pd.read_csv('/content/gdrive/MyDrive/날씨빅콘/busan_all_stn_taget.csv', index_col = 0)
busan_merged

,busan_drag_train_final.num,busan_drag_train_final.time,busan_drag_train_final.latitude,busan_drag_train_final.longitude,busan_drag_train_final.sog,busan_drag_train_final.cog,busan_drag_train_final.hdg,stn_num,timestamp,target
0,1,2021-01-14 22:47:00,"""N35.049747""","""E129.072122""",0.5,123.8,NaN,N3,2021-01-14 22:47,0
1,1,2021-01-14 22:50:00,"""N35.049485""","""E129.072438""",0.2,131.7,NaN,N3,2021-01-14 22:50,0
2,1,2021-01-14 22:56:00,"""N35.049452""","""E129.072440""",0.2,255.9,NaN,N3,2021-01-14 22:56,0
3,1,2021-01-14 23:02:00,"""N35.049402""","""E129.072257""",0.1,280.3,NaN,N3,2021-01-14 23:02,0
4,1,2021-01-14 23:11:00,"""N35.049100""","""E129.072215""",0.1,157.6,NaN,N3,2021-01-14 23:11,0
...,...,...,...,...,...,...,...,...,...,...
294228,160,2022-04-10 17:36:26,"""N35.048752""","""E129.042125""",0.1,125.3,222.0,N3,2022-04-10 17:36,0
294229,160,2022-04-10 17:39:26,"""N35.048738""","""E129.042160""",0.1,149.6,223.0,N3,2022-04-10 17:39,0
294230,160,2022-04-10 17:45:26,"""N35.048702""","""E129.042170""",0.1,152.4,223.0,N3,2022-04-10 17:45,0
294231,160,2022-04-10 17:48:26,"""N35.048752""","""E129.042160""",0.1,172.6,223.0,N3,2022-04-10 17:48,0
294232,160,2022-04-10 17:51:26,"""N35.048700""","""E129.042158""",0.0,148.1,222.0,N3,2022-04-10 17:51,0

In [ ]:
# 기상청 등표(KMA_lightbeacon)
light = pd.read_csv('/content/gdrive/MyDrive/날씨빅콘/lightbecon_전처리.csv', index_col = 0)
light

,kma_lightbecon_train.yyyymmddhhmi,kma_lightbecon_train.stn,kma_lightbecon_train.stn_name,kma_lightbecon_train.wd,kma_lightbecon_train.ws
0,202101010000,963.0,Idukseo,191.0,3.4
1,202101010001,963.0,Idukseo,127.0,5.2
2,202101010002,963.0,Idukseo,99.0,5.4
3,202101010003,963.0,Idukseo,110.0,5.3
4,202101010004,963.0,Idukseo,51.0,5.3
...,...,...,...,...,...
786235,202206302355,984.0,Oryuk Island,220.0,3.3
786236,202206302356,984.0,Oryuk Island,222.0,3.4
786237,202206302357,984.0,Oryuk Island,224.0,3.4
786238,202206302358,984.0,Oryuk Island,225.0,3.4
786239,202206302359,984.0,Oryuk Island,224.0,3.3

In [ ]:
# 기상청 파고부이(KMA_pago_buoy)
kma_pago = pd.read_csv('/content/gdrive/MyDrive/날씨빅콘/pagobuoy_전처리.csv', index_col = 0)
kma_pago

,kma_pagobuoy_train.yyyymmddhhmi,kma_pagobuoy_train.stn,kma_pagobuoy_train.stn_name,kma_pagobuoy_train.max_wh,kma_pagobuoy_train.sig_wh,kma_pagobuoy_train.mean_wh
0,2021010100,22483.0,간절곶,1.0,0.8,0.6
1,2021010101,22483.0,간절곶,1.0,0.8,0.5
2,2021010102,22483.0,간절곶,1.2,0.8,0.5
3,2021010103,22483.0,간절곶,1.0,0.8,0.5
4,2021010104,22483.0,간절곶,1.1,0.8,0.5
...,...,...,...,...,...,...
13099,2022063019,22460.0,다대포,0.7,0.4,0.3
13100,2022063020,22460.0,다대포,0.5,0.4,0.3
13101,2022063021,22460.0,다대포,0.6,0.4,0.3
13102,2022063022,22460.0,다대포,0.6,0.4,0.3
13103,2022063023,22460.0,다대포,0.6,0.4,0.3

In [ ]:
# 기상청 파고부이(Khoa_pago_buoy)
khoa_buoy = pd.read_csv('/content/gdrive/MyDrive/날씨빅콘/부이_부산_전처리.csv', index_col = 0)
khoa_buoy

,khoa_buoy_train.yyyymmddhhmi,khoa_buoy_train.stn_name,khoa_buoy_train.ws,khoa_buoy_train.wd_point,khoa_buoy_train.wd
0,202101010000,SongJeong,45.30,NE,49.0
1,202101010001,SongJeong,44.84,NaN,48.8
2,202101010002,SongJeong,44.38,NaN,48.6
3,202101010003,SongJeong,43.92,NaN,48.4
4,202101010004,SongJeong,43.46,NaN,48.2
...,...,...,...,...,...
786235,202206302355,Haeundae,32.30,E,90.0
786236,202206302356,Haeundae,32.30,E,89.0
786237,202206302357,Haeundae,31.40,E,86.0
786238,202206302358,Haeundae,31.70,E,90.0
786239,202206302359,Haeundae,35.00,E,87.0

In [ ]:
# kma_pago
# 부산
# 장안 = jang
jang_lat = 35.2958
jang_lon = 129.2883
jang = (jang_lon, jang_lat)
# 기장 = ki
ki_lat = 35.222222
ki_lon = 129.28333
ki = (ki_lon, ki_lat)
#  오륙도 = oryuk
oryuk_lat = 35.095
oryuk_lon = 129.1283
oryuk = (oryuk_lon, oryuk_lat)
# 다대포 = dade
dade_lat = 35.0224
dade_lon = 128.9561
dade = (dade_lon, dade_lat)

In [ ]:
#lat format
llist = ['0','1','2','3','4','5','6','7','8','9','.']
indi= []
lat_list = []
for i in busan_merged['busan_drag_train_final.latitude']:
  for j in i:
    if j in llist:
      indi.append(j)
  lat_list.append(indi)
  indi = []



# long format
longi_list= []
for i in busan_merged['busan_drag_train_final.longitude']:
  for j in i:
    if j in llist:
      indi.append(j)
  longi_list.append(indi)
  indi = []

longi_list = [float(''.join(longi)) for longi in longi_list]

In [ ]:
count = 0
for i in range(len(lat_list)):
  for j in lat_list[i]:
    if j == '.':
      count = count +1
  if count >= 2:
    lat_list[i] = ['3', '5', '.', '4', '5', '9', '9']
  count = 0

In [ ]:
lat_list = [float(''.join(lat)) for lat in lat_list]

In [ ]:
coor_list = []
for i in zip(longi_list,lat_list):
  coor_list.append(i)

In [ ]:
import math

dis_list = []
for i in coor_list:
    # 배와 장안까지 거리
    x_jang = (i[0] - jang[0]) ** 2
    y_jang = (i[1] - jang[1]) ** 2
    dis_jang = math.sqrt(x_jang + y_jang)
    # 배와 기장까지 거리
    x_ki = (i[0] - ki[0]) ** 2
    y_ki = (i[1] - ki[1]) ** 2
    dis_ki = math.sqrt(x_ki + y_ki)
    # 배와 오륙도까지 거리
    x_oryuk = (i[0] - oryuk[0]) ** 2
    y_oryuk = (i[1] - oryuk[1]) ** 2
    dis_oryuk = math.sqrt(x_oryuk + y_oryuk)
    # 배와 다대포까지 거리
    x_dade = (i[0] - dade[0]) ** 2
    y_dade = (i[1] - dade[1]) ** 2
    dis_dade = math.sqrt(x_dade + y_dade)

    # 4개중 가장 가까운 거리로 append
    distances = {
        '장안': dis_jang,
        '기장': dis_ki,
        '오륙도': dis_oryuk,
        '다대포': dis_dade
    }
    closest_location = min(distances, key=distances.get)
    dis_list.append(closest_location)

In [ ]:
# 기장에 가장 가까운 배가 없음(고민 해 볼 것)
from collections import Counter
Counter(dis_list)

Counter({'오륙도': 185050, '다대포': 103024, '장안': 6159})

In [ ]:
busan_merged['kma_pagobuoy_train.stn_name'] = dis_list

In [ ]:
busan_merged.isnull().sum()

busan_drag_train_final.num              0
busan_drag_train_final.time             0
busan_drag_train_final.latitude         0
busan_drag_train_final.longitude        0
busan_drag_train_final.sog              0
busan_drag_train_final.cog           4306
busan_drag_train_final.hdg          16178
stn_num                                 0
timestamp                               0
target                                  0
kma_pagobuoy_train.stn_name             0
dtype: int64

In [ ]:
# kma_pago(다대포, 오륙도, 기장, 장안이 있는 데이터)
busan_pago_buoy=kma_pago.loc[(kma_pago['kma_pagobuoy_train.stn_name'] == '장안')|(kma_pago['kma_pagobuoy_train.stn_name'] == '기장')|(kma_pago['kma_pagobuoy_train.stn_name'] == '오륙도')|(kma_pago['kma_pagobuoy_train.stn_name'] == '다대포')]

In [ ]:
busan_pago_buoy

,kma_pagobuoy_train.yyyymmddhhmi,kma_pagobuoy_train.stn,kma_pagobuoy_train.stn_name,kma_pagobuoy_train.max_wh,kma_pagobuoy_train.sig_wh,kma_pagobuoy_train.mean_wh
0,2021010100,22454.0,장안,0.7,0.5,0.3
1,2021010101,22454.0,장안,0.6,0.5,0.4
2,2021010102,22454.0,장안,0.8,0.6,0.4
3,2021010103,22454.0,장안,0.6,0.5,0.3
4,2021010104,22454.0,장안,0.6,0.4,0.3
...,...,...,...,...,...,...
13099,2022063019,22460.0,다대포,0.7,0.4,0.3
13100,2022063020,22460.0,다대포,0.5,0.4,0.3
13101,2022063021,22460.0,다대포,0.6,0.4,0.3
13102,2022063022,22460.0,다대포,0.6,0.4,0.3
13103,2022063023,22460.0,다대포,0.6,0.4,0.3

In [ ]:
from datetime import datetime

pago_date_list = busan_pago_buoy['kma_pagobuoy_train.yyyymmddhhmi']
pago_date_list = pago_date_list.to_list()
pago_date_list = list(map(str,pago_date_list))

date_format = "%Y%m%d%H"

pago_list = []
for i in pago_date_list:
    year = i[0:4]
    month = i[4:6]
    day = i[6:8]
    hour = i[8:10]
    pago_list.append((year, month, day, hour))

merged_date_list = busan_merged['busan_drag_train_final.time']
merged_date_list = merged_date_list.to_list()
merged_date_list = list(map(str,merged_date_list))

date_format = "%Y-%m-%d %H:%M:%S"

merged_list = []
for i in merged_date_list:
    year = i[0:4]
    month = i[5:7]
    day = i[8:10]
    hour = i[11:13]
    merged_list.append((year, month, day, hour))

In [ ]:
busan_pago_buoy['time'] = pago_list
busan_merged['time'] = merged_list

<ipython-input-19-fb3f9c8a64c5>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  busan_pago_buoy['time'] = pago_list

In [ ]:
merged_df = pd.merge(busan_merged,busan_pago_buoy,on=['time','kma_pagobuoy_train.stn_name'],how='left')

In [ ]:
merged_df

,busan_drag_train_final.num,busan_drag_train_final.time,busan_drag_train_final.latitude,busan_drag_train_final.longitude,busan_drag_train_final.sog,busan_drag_train_final.cog,busan_drag_train_final.hdg,stn_num,timestamp,target,kma_pagobuoy_train.stn_name,time,kma_pagobuoy_train.yyyymmddhhmi,kma_pagobuoy_train.stn,kma_pagobuoy_train.max_wh,kma_pagobuoy_train.sig_wh,kma_pagobuoy_train.mean_wh
0,1,2021-01-14 22:47:00,"""N35.049747""","""E129.072122""",0.5,123.8,NaN,N3,2021-01-14 22:47,0,오륙도,"(2021, 01, 14, 22)",2021011422,22459.0,0.5,0.3,0.2
1,1,2021-01-14 22:50:00,"""N35.049485""","""E129.072438""",0.2,131.7,NaN,N3,2021-01-14 22:50,0,오륙도,"(2021, 01, 14, 22)",2021011422,22459.0,0.5,0.3,0.2
2,1,2021-01-14 22:56:00,"""N35.049452""","""E129.072440""",0.2,255.9,NaN,N3,2021-01-14 22:56,0,오륙도,"(2021, 01, 14, 22)",2021011422,22459.0,0.5,0.3,0.2
3,1,2021-01-14 23:02:00,"""N35.049402""","""E129.072257""",0.1,280.3,NaN,N3,2021-01-14 23:02,0,오륙도,"(2021, 01, 14, 23)",2021011423,22459.0,0.4,0.3,0.2
4,1,2021-01-14 23:11:00,"""N35.049100""","""E129.072215""",0.1,157.6,NaN,N3,2021-01-14 23:11,0,오륙도,"(2021, 01, 14, 23)",2021011423,22459.0,0.4,0.3,0.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294228,160,2022-04-10 17:36:26,"""N35.048752""","""E129.042125""",0.1,125.3,222.0,N3,2022-04-10 17:36,0,다대포,"(2022, 04, 10, 17)",2022041017,22460.0,0.7,0.5,0.3
294229,160,2022-04-10 17:39:26,"""N35.048738""","""E129.042160""",0.1,149.6,223.0,N3,2022-04-10 17:39,0,다대포,"(2022, 04, 10, 17)",2022041017,22460.0,0.7,0.5,0.3
294230,160,2022-04-10 17:45:26,"""N35.048702""","""E129.042170""",0.1,152.4,223.0,N3,2022-04-10 17:45,0,다대포,"(2022, 04, 10, 17)",2022041017,22460.0,0.7,0.5,0.3
294231,160,2022-04-10 17:48:26,"""N35.048752""","""E129.042160""",0.1,172.6,223.0,N3,2022-04-10 17:48,0,다대포,"(2022, 04, 10, 17)",2022041017,22460.0,0.7,0.5,0.3
294232,160,2022-04-10 17:51:26,"""N35.048700""","""E129.042158""",0.0,148.1,222.0,N3,2022-04-10 17:51,0,다대포,"(2022, 04, 10, 17)",2022041017,22460.0,0.7,0.5,0.3

In [ ]:
merged_df = merged_df.drop(columns=['time','kma_pagobuoy_train.yyyymmddhhmi','timestamp'])
merged_df

,busan_drag_train_final.num,busan_drag_train_final.time,busan_drag_train_final.latitude,busan_drag_train_final.longitude,busan_drag_train_final.sog,busan_drag_train_final.cog,busan_drag_train_final.hdg,stn_num,target,kma_pagobuoy_train.stn_name,kma_pagobuoy_train.stn,kma_pagobuoy_train.max_wh,kma_pagobuoy_train.sig_wh,kma_pagobuoy_train.mean_wh
0,1,2021-01-14 22:47:00,"""N35.049747""","""E129.072122""",0.5,123.8,NaN,N3,0,오륙도,22459.0,0.5,0.3,0.2
1,1,2021-01-14 22:50:00,"""N35.049485""","""E129.072438""",0.2,131.7,NaN,N3,0,오륙도,22459.0,0.5,0.3,0.2
2,1,2021-01-14 22:56:00,"""N35.049452""","""E129.072440""",0.2,255.9,NaN,N3,0,오륙도,22459.0,0.5,0.3,0.2
3,1,2021-01-14 23:02:00,"""N35.049402""","""E129.072257""",0.1,280.3,NaN,N3,0,오륙도,22459.0,0.4,0.3,0.2
4,1,2021-01-14 23:11:00,"""N35.049100""","""E129.072215""",0.1,157.6,NaN,N3,0,오륙도,22459.0,0.4,0.3,0.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294228,160,2022-04-10 17:36:26,"""N35.048752""","""E129.042125""",0.1,125.3,222.0,N3,0,다대포,22460.0,0.7,0.5,0.3
294229,160,2022-04-10 17:39:26,"""N35.048738""","""E129.042160""",0.1,149.6,223.0,N3,0,다대포,22460.0,0.7,0.5,0.3
294230,160,2022-04-10 17:45:26,"""N35.048702""","""E129.042170""",0.1,152.4,223.0,N3,0,다대포,22460.0,0.7,0.5,0.3
294231,160,2022-04-10 17:48:26,"""N35.048752""","""E129.042160""",0.1,172.6,223.0,N3,0,다대포,22460.0,0.7,0.5,0.3
294232,160,2022-04-10 17:51:26,"""N35.048700""","""E129.042158""",0.0,148.1,222.0,N3,0,다대포,22460.0,0.7,0.5,0.3

In [ ]:
# 부산
# 송정 = song
song_lat =  35.164722
song_lon = 129.219444
song = (song_lon, song_lat)
# 해운대 = hae
hae_lat = 35.148889
hae_lon = 129.170278
hae = (hae_lon, hae_lat)

In [ ]:
#lat format
llist = ['0','1','2','3','4','5','6','7','8','9','.']
indi= []
lat_list = []
for i in merged_df['busan_drag_train_final.latitude']:
  for j in i:
    if j in llist:
      indi.append(j)
  lat_list.append(indi)
  indi = []



# long format
longi_list= []
for i in merged_df['busan_drag_train_final.longitude']:
  for j in i:
    if j in llist:
      indi.append(j)
  longi_list.append(indi)
  indi = []

longi_list = [float(''.join(longi)) for longi in longi_list]

In [ ]:
count = 0
for i in range(len(lat_list)):
  for j in lat_list[i]:
    if j == '.':
      count = count +1
  if count >= 2:
    lat_list[i] = ['3', '5', '.', '4', '5', '9', '9']
  count = 0

In [ ]:
lat_list = [float(''.join(lat)) for lat in lat_list]

In [ ]:
coor_list = []
for i in zip(longi_list,lat_list):
  coor_list.append(i)

In [ ]:
import math

dis_list=[]
for i in coor_list:
  #배와 송정까지 거리
  x_song = (i[0] - song[0])**2
  y_song = (i[1]-song[1])**2
  dis_song = math.sqrt(x_song + y_song)
  #배와 해운대까지 거리
  x_hae = (i[0] - hae[0])**2
  y_hae = (i[1]-hae[1])**2
  dis_hae = math.sqrt(x_hae + y_hae)
  if dis_song > dis_hae:
    dis_list.append('Haeundae')
  elif dis_hae > dis_song:
    dis_list.append('SongJeong')
  else:
    dis_list.append('same')

In [ ]:
from collections import Counter
Counter(dis_list)

Counter({'Haeundae': 288074, 'SongJeong': 6159})

In [ ]:
merged_df['khoa_buoy_train.stn_name'] = dis_list

In [ ]:
merged_df

,busan_drag_train_final.num,busan_drag_train_final.time,busan_drag_train_final.latitude,busan_drag_train_final.longitude,busan_drag_train_final.sog,busan_drag_train_final.cog,busan_drag_train_final.hdg,stn_num,target,kma_pagobuoy_train.stn_name,kma_pagobuoy_train.stn,kma_pagobuoy_train.max_wh,kma_pagobuoy_train.sig_wh,kma_pagobuoy_train.mean_wh,khoa_buoy_train.stn_name
0,1,2021-01-14 22:47:00,"""N35.049747""","""E129.072122""",0.5,123.8,NaN,N3,0,오륙도,22459.0,0.5,0.3,0.2,Haeundae
1,1,2021-01-14 22:50:00,"""N35.049485""","""E129.072438""",0.2,131.7,NaN,N3,0,오륙도,22459.0,0.5,0.3,0.2,Haeundae
2,1,2021-01-14 22:56:00,"""N35.049452""","""E129.072440""",0.2,255.9,NaN,N3,0,오륙도,22459.0,0.5,0.3,0.2,Haeundae
3,1,2021-01-14 23:02:00,"""N35.049402""","""E129.072257""",0.1,280.3,NaN,N3,0,오륙도,22459.0,0.4,0.3,0.2,Haeundae
4,1,2021-01-14 23:11:00,"""N35.049100""","""E129.072215""",0.1,157.6,NaN,N3,0,오륙도,22459.0,0.4,0.3,0.2,Haeundae
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294228,160,2022-04-10 17:36:26,"""N35.048752""","""E129.042125""",0.1,125.3,222.0,N3,0,다대포,22460.0,0.7,0.5,0.3,Haeundae
294229,160,2022-04-10 17:39:26,"""N35.048738""","""E129.042160""",0.1,149.6,223.0,N3,0,다대포,22460.0,0.7,0.5,0.3,Haeundae
294230,160,2022-04-10 17:45:26,"""N35.048702""","""E129.042170""",0.1,152.4,223.0,N3,0,다대포,22460.0,0.7,0.5,0.3,Haeundae
294231,160,2022-04-10 17:48:26,"""N35.048752""","""E129.042160""",0.1,172.6,223.0,N3,0,다대포,22460.0,0.7,0.5,0.3,Haeundae
294232,160,2022-04-10 17:51:26,"""N35.048700""","""E129.042158""",0.0,148.1,222.0,N3,0,다대포,22460.0,0.7,0.5,0.3,Haeundae

In [ ]:
busan_khoa_buoy=khoa_buoy.loc[(khoa_buoy['khoa_buoy_train.stn_name'] == 'SongJeong')|(khoa_buoy['khoa_buoy_train.stn_name'] == 'Haeundae')]

In [ ]:
busan_khoa_buoy

,khoa_buoy_train.yyyymmddhhmi,khoa_buoy_train.stn_name,khoa_buoy_train.ws,khoa_buoy_train.wd_point,khoa_buoy_train.wd
0,202101010000,SongJeong,45.30,NE,49.0
1,202101010001,SongJeong,44.84,NaN,48.8
2,202101010002,SongJeong,44.38,NaN,48.6
3,202101010003,SongJeong,43.92,NaN,48.4
4,202101010004,SongJeong,43.46,NaN,48.2
...,...,...,...,...,...
786235,202206302355,Haeundae,32.30,E,90.0
786236,202206302356,Haeundae,32.30,E,89.0
786237,202206302357,Haeundae,31.40,E,86.0
786238,202206302358,Haeundae,31.70,E,90.0
786239,202206302359,Haeundae,35.00,E,87.0

In [ ]:
from datetime import datetime

pago_date_list = busan_khoa_buoy['khoa_buoy_train.yyyymmddhhmi']
pago_date_list = pago_date_list.to_list()
pago_date_list = list(map(str,pago_date_list))

date_format = "%Y%m%d%H%M"

pago_list = []
for i in pago_date_list:
    year = i[0:4]
    month = i[4:6]
    day = i[6:8]
    hour = i[8:10]
    minute = i[10:12]
    pago_list.append((year, month, day, hour, minute))

merged_date_list = merged_df['busan_drag_train_final.time']
merged_date_list = merged_date_list.to_list()
merged_date_list = list(map(str,merged_date_list))

date_format = "%Y-%m-%d %H:%M:%S"

merged_list = []
for i in merged_date_list:
    year = i[0:4]
    month = i[5:7]
    day = i[8:10]
    hour = i[11:13]
    minute = i[14:16]
    merged_list.append((year, month, day, hour, minute))

In [ ]:
busan_khoa_buoy['time'] = pago_list
merged_df['time'] = merged_list

In [ ]:
merged_df1 = pd.merge(merged_df,busan_khoa_buoy,on=['time','khoa_buoy_train.stn_name'],how='left')

In [ ]:
merged_df1

,busan_drag_train_final.num,busan_drag_train_final.time,busan_drag_train_final.latitude,busan_drag_train_final.longitude,busan_drag_train_final.sog,busan_drag_train_final.cog,busan_drag_train_final.hdg,stn_num,target,kma_pagobuoy_train.stn_name,kma_pagobuoy_train.stn,kma_pagobuoy_train.max_wh,kma_pagobuoy_train.sig_wh,kma_pagobuoy_train.mean_wh,khoa_buoy_train.stn_name,time,khoa_buoy_train.yyyymmddhhmi,khoa_buoy_train.ws,khoa_buoy_train.wd_point,khoa_buoy_train.wd
0,1,2021-01-14 22:47:00,"""N35.049747""","""E129.072122""",0.5,123.8,NaN,N3,0,오륙도,22459.0,0.5,0.3,0.2,Haeundae,"(2021, 01, 14, 22, 47)",202101142247,21.3,E,98.0
1,1,2021-01-14 22:50:00,"""N35.049485""","""E129.072438""",0.2,131.7,NaN,N3,0,오륙도,22459.0,0.5,0.3,0.2,Haeundae,"(2021, 01, 14, 22, 50)",202101142250,21.1,E,95.0
2,1,2021-01-14 22:56:00,"""N35.049452""","""E129.072440""",0.2,255.9,NaN,N3,0,오륙도,22459.0,0.5,0.3,0.2,Haeundae,"(2021, 01, 14, 22, 56)",202101142256,19.6,E,92.0
3,1,2021-01-14 23:02:00,"""N35.049402""","""E129.072257""",0.1,280.3,NaN,N3,0,오륙도,22459.0,0.4,0.3,0.2,Haeundae,"(2021, 01, 14, 23, 02)",202101142302,23.4,E,100.0
4,1,2021-01-14 23:11:00,"""N35.049100""","""E129.072215""",0.1,157.6,NaN,N3,0,오륙도,22459.0,0.4,0.3,0.2,Haeundae,"(2021, 01, 14, 23, 11)",202101142311,20.7,E,90.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294228,160,2022-04-10 17:36:26,"""N35.048752""","""E129.042125""",0.1,125.3,222.0,N3,0,다대포,22460.0,0.7,0.5,0.3,Haeundae,"(2022, 04, 10, 17, 36)",202204101736,19.1,ENE,71.0
294229,160,2022-04-10 17:39:26,"""N35.048738""","""E129.042160""",0.1,149.6,223.0,N3,0,다대포,22460.0,0.7,0.5,0.3,Haeundae,"(2022, 04, 10, 17, 39)",202204101739,16.9,ENE,61.0
294230,160,2022-04-10 17:45:26,"""N35.048702""","""E129.042170""",0.1,152.4,223.0,N3,0,다대포,22460.0,0.7,0.5,0.3,Haeundae,"(2022, 04, 10, 17, 45)",202204101745,18.2,ENE,73.0
294231,160,2022-04-10 17:48:26,"""N35.048752""","""E129.042160""",0.1,172.6,223.0,N3,0,다대포,22460.0,0.7,0.5,0.3,Haeundae,"(2022, 04, 10, 17, 48)",202204101748,15.9,ENE,73.0
294232,160,2022-04-10 17:51:26,"""N35.048700""","""E129.042158""",0.0,148.1,222.0,N3,0,다대포,22460.0,0.7,0.5,0.3,Haeundae,"(2022, 04, 10, 17, 51)",202204101751,19.5,ENE,78.0

In [ ]:
merged_df1 = merged_df1.drop(columns=['time','khoa_buoy_train.yyyymmddhhmi'])
merged_df1

,busan_drag_train_final.num,busan_drag_train_final.time,busan_drag_train_final.latitude,busan_drag_train_final.longitude,busan_drag_train_final.sog,busan_drag_train_final.cog,busan_drag_train_final.hdg,stn_num,target,kma_pagobuoy_train.stn_name,kma_pagobuoy_train.stn,kma_pagobuoy_train.max_wh,kma_pagobuoy_train.sig_wh,kma_pagobuoy_train.mean_wh,khoa_buoy_train.stn_name,khoa_buoy_train.ws,khoa_buoy_train.wd_point,khoa_buoy_train.wd
0,1,2021-01-14 22:47:00,"""N35.049747""","""E129.072122""",0.5,123.8,NaN,N3,0,오륙도,22459.0,0.5,0.3,0.2,Haeundae,21.3,E,98.0
1,1,2021-01-14 22:50:00,"""N35.049485""","""E129.072438""",0.2,131.7,NaN,N3,0,오륙도,22459.0,0.5,0.3,0.2,Haeundae,21.1,E,95.0
2,1,2021-01-14 22:56:00,"""N35.049452""","""E129.072440""",0.2,255.9,NaN,N3,0,오륙도,22459.0,0.5,0.3,0.2,Haeundae,19.6,E,92.0
3,1,2021-01-14 23:02:00,"""N35.049402""","""E129.072257""",0.1,280.3,NaN,N3,0,오륙도,22459.0,0.4,0.3,0.2,Haeundae,23.4,E,100.0
4,1,2021-01-14 23:11:00,"""N35.049100""","""E129.072215""",0.1,157.6,NaN,N3,0,오륙도,22459.0,0.4,0.3,0.2,Haeundae,20.7,E,90.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294228,160,2022-04-10 17:36:26,"""N35.048752""","""E129.042125""",0.1,125.3,222.0,N3,0,다대포,22460.0,0.7,0.5,0.3,Haeundae,19.1,ENE,71.0
294229,160,2022-04-10 17:39:26,"""N35.048738""","""E129.042160""",0.1,149.6,223.0,N3,0,다대포,22460.0,0.7,0.5,0.3,Haeundae,16.9,ENE,61.0
294230,160,2022-04-10 17:45:26,"""N35.048702""","""E129.042170""",0.1,152.4,223.0,N3,0,다대포,22460.0,0.7,0.5,0.3,Haeundae,18.2,ENE,73.0
294231,160,2022-04-10 17:48:26,"""N35.048752""","""E129.042160""",0.1,172.6,223.0,N3,0,다대포,22460.0,0.7,0.5,0.3,Haeundae,15.9,ENE,73.0
294232,160,2022-04-10 17:51:26,"""N35.048700""","""E129.042158""",0.0,148.1,222.0,N3,0,다대포,22460.0,0.7,0.5,0.3,Haeundae,19.5,ENE,78.0

In [ ]:
light

,kma_lightbecon_train.yyyymmddhhmi,kma_lightbecon_train.stn,kma_lightbecon_train.stn_name,kma_lightbecon_train.wd,kma_lightbecon_train.ws
0,202101010000,963.0,Idukseo,191.0,3.4
1,202101010001,963.0,Idukseo,127.0,5.2
2,202101010002,963.0,Idukseo,99.0,5.4
3,202101010003,963.0,Idukseo,110.0,5.3
4,202101010004,963.0,Idukseo,51.0,5.3
...,...,...,...,...,...
786235,202206302355,984.0,Oryuk Island,220.0,3.3
786236,202206302356,984.0,Oryuk Island,222.0,3.4
786237,202206302357,984.0,Oryuk Island,224.0,3.4
786238,202206302358,984.0,Oryuk Island,225.0,3.4
786239,202206302359,984.0,Oryuk Island,224.0,3.3

In [ ]:
Oryuk = light.loc[light['kma_lightbecon_train.stn_name'] == 'Oryuk Island']

In [ ]:
Oryuk

,kma_lightbecon_train.yyyymmddhhmi,kma_lightbecon_train.stn,kma_lightbecon_train.stn_name,kma_lightbecon_train.wd,kma_lightbecon_train.ws
0,202101010000,984.0,Oryuk Island,259.0,7.3
1,202101010001,984.0,Oryuk Island,257.0,7.3
2,202101010002,984.0,Oryuk Island,257.0,6.9
3,202101010003,984.0,Oryuk Island,271.0,7.1
4,202101010004,984.0,Oryuk Island,250.0,5.5
...,...,...,...,...,...
786235,202206302355,984.0,Oryuk Island,220.0,3.3
786236,202206302356,984.0,Oryuk Island,222.0,3.4
786237,202206302357,984.0,Oryuk Island,224.0,3.4
786238,202206302358,984.0,Oryuk Island,225.0,3.4
786239,202206302359,984.0,Oryuk Island,224.0,3.3

In [ ]:
merged_df1['kma_lightbecon_train.stn_name'] = 'Oryuk Island'

In [ ]:
from datetime import datetime

pago_date_list = Oryuk['kma_lightbecon_train.yyyymmddhhmi']
pago_date_list = pago_date_list.to_list()
pago_date_list = list(map(str,pago_date_list))

date_format = "%Y%m%d%H%M"

pago_list = []
for i in pago_date_list:
    year = i[0:4]
    month = i[4:6]
    day = i[6:8]
    hour = i[8:10]
    minute = i[10:12]
    pago_list.append((year, month, day, hour, minute))

merged_date_list = merged_df1['busan_drag_train_final.time']
merged_date_list = merged_date_list.to_list()
merged_date_list = list(map(str,merged_date_list))

date_format = "%Y-%m-%d %H:%M:%S"

merged_list = []
for i in merged_date_list:
    year = i[0:4]
    month = i[5:7]
    day = i[8:10]
    hour = i[11:13]
    minute = i[14:16]
    merged_list.append((year, month, day, hour, minute))

In [ ]:
Oryuk['time'] = pago_list
merged_df1['time'] = merged_list

<ipython-input-44-60df619a73d3>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Oryuk['time'] = pago_list

In [ ]:
merged_df2 = pd.merge(merged_df1,Oryuk,on=['time','kma_lightbecon_train.stn_name'],how='left')

In [ ]:
merged_df2

,busan_drag_train_final.num,busan_drag_train_final.time,busan_drag_train_final.latitude,busan_drag_train_final.longitude,busan_drag_train_final.sog,busan_drag_train_final.cog,busan_drag_train_final.hdg,stn_num,target,kma_pagobuoy_train.stn_name,...,khoa_buoy_train.stn_name,khoa_buoy_train.ws,khoa_buoy_train.wd_point,khoa_buoy_train.wd,kma_lightbecon_train.stn_name,time,kma_lightbecon_train.yyyymmddhhmi,kma_lightbecon_train.stn,kma_lightbecon_train.wd,kma_lightbecon_train.ws
0,1,2021-01-14 22:47:00,"""N35.049747""","""E129.072122""",0.5,123.8,NaN,N3,0,오륙도,...,Haeundae,21.3,E,98.0,Oryuk Island,"(2021, 01, 14, 22, 47)",202101142247,984.0,358.0,1.2
1,1,2021-01-14 22:50:00,"""N35.049485""","""E129.072438""",0.2,131.7,NaN,N3,0,오륙도,...,Haeundae,21.1,E,95.0,Oryuk Island,"(2021, 01, 14, 22, 50)",202101142250,984.0,185.0,0.2
2,1,2021-01-14 22:56:00,"""N35.049452""","""E129.072440""",0.2,255.9,NaN,N3,0,오륙도,...,Haeundae,19.6,E,92.0,Oryuk Island,"(2021, 01, 14, 22, 56)",202101142256,984.0,284.0,0.1
3,1,2021-01-14 23:02:00,"""N35.049402""","""E129.072257""",0.1,280.3,NaN,N3,0,오륙도,...,Haeundae,23.4,E,100.0,Oryuk Island,"(2021, 01, 14, 23, 02)",202101142302,984.0,311.0,0.9
4,1,2021-01-14 23:11:00,"""N35.049100""","""E129.072215""",0.1,157.6,NaN,N3,0,오륙도,...,Haeundae,20.7,E,90.0,Oryuk Island,"(2021, 01, 14, 23, 11)",202101142311,984.0,264.0,1.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294228,160,2022-04-10 17:36:26,"""N35.048752""","""E129.042125""",0.1,125.3,222.0,N3,0,다대포,...,Haeundae,19.1,ENE,71.0,Oryuk Island,"(2022, 04, 10, 17, 36)",202204101736,984.0,198.0,10.1
294229,160,2022-04-10 17:39:26,"""N35.048738""","""E129.042160""",0.1,149.6,223.0,N3,0,다대포,...,Haeundae,16.9,ENE,61.0,Oryuk Island,"(2022, 04, 10, 17, 39)",202204101739,984.0,196.0,10.6
294230,160,2022-04-10 17:45:26,"""N35.048702""","""E129.042170""",0.1,152.4,223.0,N3,0,다대포,...,Haeundae,18.2,ENE,73.0,Oryuk Island,"(2022, 04, 10, 17, 45)",202204101745,984.0,195.0,9.2
294231,160,2022-04-10 17:48:26,"""N35.048752""","""E129.042160""",0.1,172.6,223.0,N3,0,다대포,...,Haeundae,15.9,ENE,73.0,Oryuk Island,"(2022, 04, 10, 17, 48)",202204101748,984.0,196.0,9.4
294232,160,2022-04-10 17:51:26,"""N35.048700""","""E129.042158""",0.0,148.1,222.0,N3,0,다대포,...,Haeundae,19.5,ENE,78.0,Oryuk Island,"(2022, 04, 10, 17, 51)",202204101751,984.0,199.0,8.3

In [ ]:
merged_df2 = merged_df2.drop(columns=['time','kma_lightbecon_train.yyyymmddhhmi'])
merged_df2

,busan_drag_train_final.num,busan_drag_train_final.time,busan_drag_train_final.latitude,busan_drag_train_final.longitude,busan_drag_train_final.sog,busan_drag_train_final.cog,busan_drag_train_final.hdg,stn_num,target,kma_pagobuoy_train.stn_name,...,kma_pagobuoy_train.sig_wh,kma_pagobuoy_train.mean_wh,khoa_buoy_train.stn_name,khoa_buoy_train.ws,khoa_buoy_train.wd_point,khoa_buoy_train.wd,kma_lightbecon_train.stn_name,kma_lightbecon_train.stn,kma_lightbecon_train.wd,kma_lightbecon_train.ws
0,1,2021-01-14 22:47:00,"""N35.049747""","""E129.072122""",0.5,123.8,NaN,N3,0,오륙도,...,0.3,0.2,Haeundae,21.3,E,98.0,Oryuk Island,984.0,358.0,1.2
1,1,2021-01-14 22:50:00,"""N35.049485""","""E129.072438""",0.2,131.7,NaN,N3,0,오륙도,...,0.3,0.2,Haeundae,21.1,E,95.0,Oryuk Island,984.0,185.0,0.2
2,1,2021-01-14 22:56:00,"""N35.049452""","""E129.072440""",0.2,255.9,NaN,N3,0,오륙도,...,0.3,0.2,Haeundae,19.6,E,92.0,Oryuk Island,984.0,284.0,0.1
3,1,2021-01-14 23:02:00,"""N35.049402""","""E129.072257""",0.1,280.3,NaN,N3,0,오륙도,...,0.3,0.2,Haeundae,23.4,E,100.0,Oryuk Island,984.0,311.0,0.9
4,1,2021-01-14 23:11:00,"""N35.049100""","""E129.072215""",0.1,157.6,NaN,N3,0,오륙도,...,0.3,0.2,Haeundae,20.7,E,90.0,Oryuk Island,984.0,264.0,1.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294228,160,2022-04-10 17:36:26,"""N35.048752""","""E129.042125""",0.1,125.3,222.0,N3,0,다대포,...,0.5,0.3,Haeundae,19.1,ENE,71.0,Oryuk Island,984.0,198.0,10.1
294229,160,2022-04-10 17:39:26,"""N35.048738""","""E129.042160""",0.1,149.6,223.0,N3,0,다대포,...,0.5,0.3,Haeundae,16.9,ENE,61.0,Oryuk Island,984.0,196.0,10.6
294230,160,2022-04-10 17:45:26,"""N35.048702""","""E129.042170""",0.1,152.4,223.0,N3,0,다대포,...,0.5,0.3,Haeundae,18.2,ENE,73.0,Oryuk Island,984.0,195.0,9.2
294231,160,2022-04-10 17:48:26,"""N35.048752""","""E129.042160""",0.1,172.6,223.0,N3,0,다대포,...,0.5,0.3,Haeundae,15.9,ENE,73.0,Oryuk Island,984.0,196.0,9.4
294232,160,2022-04-10 17:51:26,"""N35.048700""","""E129.042158""",0.0,148.1,222.0,N3,0,다대포,...,0.5,0.3,Haeundae,19.5,ENE,78.0,Oryuk Island,984.0,199.0,8.3

In [ ]:
merged_df2.isnull().sum()

busan_drag_train_final.num              0
busan_drag_train_final.time             0
busan_drag_train_final.latitude         0
busan_drag_train_final.longitude        0
busan_drag_train_final.sog              0
busan_drag_train_final.cog           4306
busan_drag_train_final.hdg          16178
stn_num                                 0
target                                  0
kma_pagobuoy_train.stn_name             0
kma_pagobuoy_train.stn                  0
kma_pagobuoy_train.max_wh               0
kma_pagobuoy_train.sig_wh               0
kma_pagobuoy_train.mean_wh              0
khoa_buoy_train.stn_name                0
khoa_buoy_train.ws                      0
khoa_buoy_train.wd_point             4932
khoa_buoy_train.wd                      0
kma_lightbecon_train.stn_name           0
kma_lightbecon_train.stn                0
kma_lightbecon_train.wd                 0
kma_lightbecon_train.ws                 0
dtype: int64

In [ ]:
t = pd.read_csv('/content/gdrive/MyDrive/날씨빅콘/busan_drag_train_final.csv', index_col= 0 )
t

,busan_drag_train_final.num,busan_drag_train_final.time,busan_drag_train_final.latitude,busan_drag_train_final.longitude,busan_drag_train_final.sog,busan_drag_train_final.cog,busan_drag_train_final.hdg
1,1,"""2021-01-14 22:47""","""N35.049747""","""E129.072122""",0.5,123.8,-99
2,1,"""2021-01-14 22:50""","""N35.049485""","""E129.072438""",0.2,131.7,-99
3,1,"""2021-01-14 22:56""","""N35.049452""","""E129.072440""",0.2,255.9,-99
4,1,"""2021-01-14 23:02""","""N35.049402""","""E129.072257""",0.1,280.3,-99
5,1,"""2021-01-14 23:11""","""N35.049100""","""E129.072215""",0.1,157.6,-99
...,...,...,...,...,...,...,...
226482,87,"""2022-05-07 20:25""","""N35.053083""","""E129.061333""",1.3,26.0,97
226483,87,"""2022-05-07 20:25""","""N35.053083""","""E129.061333""",1.3,29.0,99
226484,87,"""2022-05-07 20:26""","""N35.053117""","""E129.061400""",1.2,48.0,106
226485,87,"""2022-05-07 20:26""","""N35.053117""","""E129.061417""",1.2,52.0,108
226486,87,"""2022-05-07 20:26""","""N35.053133""","""E129.061500""",1.2,80.0,116

In [ ]:
# drag배 확인
merged_df2.iloc[:226487]

,busan_drag_train_final.num,busan_drag_train_final.time,busan_drag_train_final.latitude,busan_drag_train_final.longitude,busan_drag_train_final.sog,busan_drag_train_final.cog,busan_drag_train_final.hdg,stn_num,target,kma_pagobuoy_train.stn_name,...,kma_pagobuoy_train.sig_wh,kma_pagobuoy_train.mean_wh,khoa_buoy_train.stn_name,khoa_buoy_train.ws,khoa_buoy_train.wd_point,khoa_buoy_train.wd,kma_lightbecon_train.stn_name,kma_lightbecon_train.stn,kma_lightbecon_train.wd,kma_lightbecon_train.ws
0,1,2021-01-14 22:47:00,"""N35.049747""","""E129.072122""",0.5,123.8,NaN,N3,0,오륙도,...,0.3,0.2,Haeundae,21.3,E,98.0,Oryuk Island,984.0,358.0,1.2
1,1,2021-01-14 22:50:00,"""N35.049485""","""E129.072438""",0.2,131.7,NaN,N3,0,오륙도,...,0.3,0.2,Haeundae,21.1,E,95.0,Oryuk Island,984.0,185.0,0.2
2,1,2021-01-14 22:56:00,"""N35.049452""","""E129.072440""",0.2,255.9,NaN,N3,0,오륙도,...,0.3,0.2,Haeundae,19.6,E,92.0,Oryuk Island,984.0,284.0,0.1
3,1,2021-01-14 23:02:00,"""N35.049402""","""E129.072257""",0.1,280.3,NaN,N3,0,오륙도,...,0.3,0.2,Haeundae,23.4,E,100.0,Oryuk Island,984.0,311.0,0.9
4,1,2021-01-14 23:11:00,"""N35.049100""","""E129.072215""",0.1,157.6,NaN,N3,0,오륙도,...,0.3,0.2,Haeundae,20.7,E,90.0,Oryuk Island,984.0,264.0,1.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226482,87,2022-05-07 20:25:00,"""N35.053083""","""E129.061333""",1.3,29.0,99.0,N3,1,오륙도,...,1.6,1.0,Haeundae,30.4,W,264.0,Oryuk Island,984.0,32.0,11.4
226483,87,2022-05-07 20:26:00,"""N35.053117""","""E129.061400""",1.2,48.0,106.0,N3,1,오륙도,...,1.6,1.0,Haeundae,29.3,W,264.0,Oryuk Island,984.0,34.0,10.7
226484,87,2022-05-07 20:26:00,"""N35.053117""","""E129.061417""",1.2,52.0,108.0,N3,1,오륙도,...,1.6,1.0,Haeundae,29.3,W,264.0,Oryuk Island,984.0,34.0,10.7
226485,87,2022-05-07 20:26:00,"""N35.053133""","""E129.061500""",1.2,80.0,116.0,N3,1,오륙도,...,1.6,1.0,Haeundae,29.3,W,264.0,Oryuk Island,984.0,34.0,10.7
226486,1,2021-01-08 00:39:00,"""N35.063823""","""E129.053027""",0.1,-99.9,344.0,N3,0,오륙도,...,0.5,0.3,Haeundae,14.3,WSW,251.0,Oryuk Island,984.0,289.0,6.6

In [ ]:
merged_df2.loc[226486:,'busan_drag_train_final.num'] +=1000

In [ ]:
merged_df2.isnull().sum()

busan_drag_train_final.num              0
busan_drag_train_final.time             0
busan_drag_train_final.latitude         0
busan_drag_train_final.longitude        0
busan_drag_train_final.sog              0
busan_drag_train_final.cog           4306
busan_drag_train_final.hdg          16178
stn_num                                 0
target                                  0
kma_pagobuoy_train.stn_name             0
kma_pagobuoy_train.stn                  0
kma_pagobuoy_train.max_wh               0
kma_pagobuoy_train.sig_wh               0
kma_pagobuoy_train.mean_wh              0
khoa_buoy_train.stn_name                0
khoa_buoy_train.ws                      0
khoa_buoy_train.wd_point             4932
khoa_buoy_train.wd                      0
kma_lightbecon_train.stn_name           0
kma_lightbecon_train.stn                0
kma_lightbecon_train.wd                 0
kma_lightbecon_train.ws                 0
dtype: int64

In [ ]:
merged_df2['busan_drag_train_final.cog'].replace(-99,np.nan,inplace=True)
merged_df2['busan_drag_train_final.cog'].replace(-99.9,np.nan,inplace=True)
merged_df2['busan_drag_train_final.cog'].replace(-999,np.nan,inplace=True)
merged_df2['busan_drag_train_final.sog'].replace(-99,np.nan,inplace=True)
merged_df2['busan_drag_train_final.sog'].replace(-99.9,np.nan,inplace=True)
merged_df2['busan_drag_train_final.sog'].replace(-999,np.nan,inplace=True)
merged_df2['khoa_buoy_train.wd_point'].replace('-99.9',np.nan,inplace=True)

In [ ]:
merged_df2.isnull().sum()

busan_drag_train_final.num              0
busan_drag_train_final.time             0
busan_drag_train_final.latitude         0
busan_drag_train_final.longitude        0
busan_drag_train_final.sog              0
busan_drag_train_final.cog           5307
busan_drag_train_final.hdg          16178
stn_num                                 0
target                                  0
kma_pagobuoy_train.stn_name             0
kma_pagobuoy_train.stn                  0
kma_pagobuoy_train.max_wh               0
kma_pagobuoy_train.sig_wh               0
kma_pagobuoy_train.mean_wh              0
khoa_buoy_train.stn_name                0
khoa_buoy_train.ws                      0
khoa_buoy_train.wd_point            15414
khoa_buoy_train.wd                      0
kma_lightbecon_train.stn_name           0
kma_lightbecon_train.stn                0
kma_lightbecon_train.wd                 0
kma_lightbecon_train.ws                 0
dtype: int64

In [ ]:
merged_df2['khoa_buoy_train.wd_point'].value_counts()

E      79997
W      45167
WSW    34177
ENE    24094
ESE    23020
WNW    13331
NE      9375
SE      9051
NNE     7469
SW      6452
NW      6127
N       5114
NNW     4448
SSE     3860
SSW     3731
S       3406
Name: khoa_buoy_train.wd_point, dtype: int64

In [ ]:
point_frame=merged_df2['khoa_buoy_train.wd_point'].value_counts().reset_index()

In [ ]:
df10 = merged_df2[['khoa_buoy_train.ws','khoa_buoy_train.wd_point','khoa_buoy_train.wd']]

In [ ]:
ws_mean_list = []
wd_mean_list = []
for point in list(point_frame['index'].values):
  ws_mean=df10.loc[df10['khoa_buoy_train.wd_point'] == point].describe().iloc[1,:][0]
  wd_mean=df10.loc[df10['khoa_buoy_train.wd_point'] == point].describe().iloc[1,:][1]
  ws_mean_list.append(ws_mean)
  wd_mean_list.append(wd_mean)

In [ ]:
wd_mean_list

[88.95279822993362,
 267.4902251643899,
 251.26693390291717,
 70.10081348053457,
 110.60742832319723,
 290.6028054909609,
 45.62325333333333,
 133.60844105623687,
 22.967465524166556,
 226.42978921264725,
 313.6461563571079,
 159.53656628861947,
 337.36668165467626,
 156.36424870466323,
 203.68319485392655,
 180.0971814445097]

In [ ]:
list(point_frame['index'].values)

['E',
 'W',
 'WSW',
 'ENE',
 'ESE',
 'WNW',
 'NE',
 'SE',
 'NNE',
 'SW',
 'NW',
 'N',
 'NNW',
 'SSE',
 'SSW',
 'S']

In [ ]:
dict1=dict(zip(wd_mean_list, list(point_frame['index'].values)))

In [ ]:
null_components = []
for null_wd in list(df10.loc[df10['khoa_buoy_train.wd_point'].isnull()]['khoa_buoy_train.wd'].values):
  standard = 1000000
  standard_components = None
  for compare_wd in wd_mean_list:
    wd_similar = abs(null_wd - compare_wd)
    if wd_similar < standard:
      standard_components = compare_wd
      standard = wd_similar
  null_components.append(standard_components)

In [ ]:
null_list = []
for k in null_components:
  values=dict1[k]
  null_list.append(values)

In [ ]:
merge_df2_null=merged_df2[merged_df2['khoa_buoy_train.wd_point'].isnull()]
merge_df2_null['khoa_buoy_train.wd_point'] = null_list
merge_df2_not=merged_df2[merged_df2['khoa_buoy_train.wd_point'].notnull()]

<ipython-input-87-e4dd602ee62d>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merge_df2_null['khoa_buoy_train.wd_point'] = null_list

In [ ]:
merged_df2=pd.concat([merge_df2_null, merge_df2_not])

In [ ]:
merged_df2.isnull().sum()

busan_drag_train_final.num              0
busan_drag_train_final.time             0
busan_drag_train_final.latitude         0
busan_drag_train_final.longitude        0
busan_drag_train_final.sog              0
busan_drag_train_final.cog           5307
busan_drag_train_final.hdg          16178
stn_num                                 0
target                                  0
kma_pagobuoy_train.stn_name             0
kma_pagobuoy_train.stn                  0
kma_pagobuoy_train.max_wh               0
kma_pagobuoy_train.sig_wh               0
kma_pagobuoy_train.mean_wh              0
khoa_buoy_train.stn_name                0
khoa_buoy_train.ws                      0
khoa_buoy_train.wd_point                0
khoa_buoy_train.wd                      0
kma_lightbecon_train.stn_name           0
kma_lightbecon_train.stn                0
kma_lightbecon_train.wd                 0
kma_lightbecon_train.ws                 0
dtype: int64

In [ ]:
merged_df2

,busan_drag_train_final.num,busan_drag_train_final.time,busan_drag_train_final.latitude,busan_drag_train_final.longitude,busan_drag_train_final.sog,busan_drag_train_final.cog,busan_drag_train_final.hdg,stn_num,target,kma_pagobuoy_train.stn_name,...,kma_pagobuoy_train.sig_wh,kma_pagobuoy_train.mean_wh,khoa_buoy_train.stn_name,khoa_buoy_train.ws,khoa_buoy_train.wd_point,khoa_buoy_train.wd,kma_lightbecon_train.stn_name,kma_lightbecon_train.stn,kma_lightbecon_train.wd,kma_lightbecon_train.ws
404,1,2021-01-16 09:41:00,"""N35.049383""","""E129.073848""",0.1,258.6,NaN,N3,0,오륙도,...,0.3,0.2,Haeundae,21.75,E,91.5,Oryuk Island,984.0,297.0,4.9
465,1,2021-01-16 15:14:00,"""N35.049533""","""E129.074067""",0.1,228.2,NaN,N3,0,오륙도,...,0.4,0.3,Haeundae,32.75,E,88.0,Oryuk Island,984.0,282.0,7.3
466,1,2021-01-16 15:14:00,"""N35.049533""","""E129.074067""",0.1,228.2,NaN,N3,0,오륙도,...,0.4,0.3,Haeundae,32.75,E,88.0,Oryuk Island,984.0,282.0,7.3
535,1,2021-01-16 22:17:00,"""N35.048995""","""E129.073660""",0.9,28.7,NaN,N3,0,오륙도,...,0.4,0.3,Haeundae,9.50,E,95.5,Oryuk Island,984.0,306.0,9.3
696,3,2021-01-17 02:05:00,"""N35.006715""","""E129.063955""",0.4,209.4,291.0,N5,0,다대포,...,0.3,0.2,Haeundae,20.00,E,95.5,Oryuk Island,984.0,296.0,6.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294228,1160,2022-04-10 17:36:26,"""N35.048752""","""E129.042125""",0.1,125.3,222.0,N3,0,다대포,...,0.5,0.3,Haeundae,19.10,ENE,71.0,Oryuk Island,984.0,198.0,10.1
294229,1160,2022-04-10 17:39:26,"""N35.048738""","""E129.042160""",0.1,149.6,223.0,N3,0,다대포,...,0.5,0.3,Haeundae,16.90,ENE,61.0,Oryuk Island,984.0,196.0,10.6
294230,1160,2022-04-10 17:45:26,"""N35.048702""","""E129.042170""",0.1,152.4,223.0,N3,0,다대포,...,0.5,0.3,Haeundae,18.20,ENE,73.0,Oryuk Island,984.0,195.0,9.2
294231,1160,2022-04-10 17:48:26,"""N35.048752""","""E129.042160""",0.1,172.6,223.0,N3,0,다대포,...,0.5,0.3,Haeundae,15.90,ENE,73.0,Oryuk Island,984.0,196.0,9.4
294232,1160,2022-04-10 17:51:26,"""N35.048700""","""E129.042158""",0.0,148.1,222.0,N3,0,다대포,...,0.5,0.3,Haeundae,19.50,ENE,78.0,Oryuk Island,984.0,199.0,8.3

In [ ]:
number_list = []
num_list = []
for number in sorted(merged_df2['busan_drag_train_final.num'].unique()):
  if merged_df2[merged_df2['busan_drag_train_final.num']==number].isnull().sum()[6] != 0:
    if len(merged_df2[merged_df2['busan_drag_train_final.num']==number]) == merged_df2[merged_df2['busan_drag_train_final.num']==number].isnull().sum()[6]:
      num_list.append(number)
    number_list.append(number)

In [ ]:
num_list

[1, 7, 24, 28, 51, 65, 74]

In [ ]:
merged_df2[merged_df2['busan_drag_train_final.num']==24].isnull().sum()

busan_drag_train_final.num            0
busan_drag_train_final.time           0
busan_drag_train_final.latitude       0
busan_drag_train_final.longitude      0
busan_drag_train_final.sog            0
busan_drag_train_final.cog          690
busan_drag_train_final.hdg          999
stn_num                               0
target                                0
kma_pagobuoy_train.stn_name           0
kma_pagobuoy_train.stn                0
kma_pagobuoy_train.max_wh             0
kma_pagobuoy_train.sig_wh             0
kma_pagobuoy_train.mean_wh            0
khoa_buoy_train.stn_name              0
khoa_buoy_train.ws                    0
khoa_buoy_train.wd_point              0
khoa_buoy_train.wd                    0
kma_lightbecon_train.stn_name         0
kma_lightbecon_train.stn              0
kma_lightbecon_train.wd               0
kma_lightbecon_train.ws               0
dtype: int64

In [ ]:
len(num_list)

19

In [ ]:
len(merged_df2[merged_df2['busan_drag_train_final.num']==12])

21189

In [ ]:
merged_df2[merged_df2['busan_drag_train_final.num']==12].isnull().sum()

busan_drag_train_final.num           0
busan_drag_train_final.time          0
busan_drag_train_final.latitude      0
busan_drag_train_final.longitude     0
busan_drag_train_final.sog           0
busan_drag_train_final.cog           0
busan_drag_train_final.hdg          15
stn_num                              0
target                               0
kma_pagobuoy_train.stn_name          0
kma_pagobuoy_train.stn               0
kma_pagobuoy_train.max_wh            0
kma_pagobuoy_train.sig_wh            0
kma_pagobuoy_train.mean_wh           0
khoa_buoy_train.stn_name             0
khoa_buoy_train.ws                   0
khoa_buoy_train.wd_point             0
khoa_buoy_train.wd                   0
kma_lightbecon_train.stn_name        0
kma_lightbecon_train.stn             0
kma_lightbecon_train.wd              0
kma_lightbecon_train.ws              0
dtype: int64

In [ ]:
number_list = []
num_list = []
for number in sorted(merged_df2['busan_drag_train_final.num'].unique()):
  if merged_df2[merged_df2['busan_drag_train_final.num']==number].isnull().sum()[5] != 0:
    if len(merged_df2[merged_df2['busan_drag_train_final.num']==number]) == merged_df2[merged_df2['busan_drag_train_final.num']==number].isnull().sum()[5]:
      num_list.append(number)
    number_list.append(number)

In [ ]:
num_list

[52, 1001]

In [ ]:
merged_df2[merged_df2['busan_drag_train_final.num']==1001].isnull().sum()

busan_drag_train_final.num            0
busan_drag_train_final.time           0
busan_drag_train_final.latitude       0
busan_drag_train_final.longitude      0
busan_drag_train_final.sog            0
busan_drag_train_final.cog          324
busan_drag_train_final.hdg            0
stn_num                               0
target                                0
kma_pagobuoy_train.stn_name           0
kma_pagobuoy_train.stn                0
kma_pagobuoy_train.max_wh             0
kma_pagobuoy_train.sig_wh             0
kma_pagobuoy_train.mean_wh            0
khoa_buoy_train.stn_name              0
khoa_buoy_train.ws                    0
khoa_buoy_train.wd_point              0
khoa_buoy_train.wd                    0
kma_lightbecon_train.stn_name         0
kma_lightbecon_train.stn              0
kma_lightbecon_train.wd               0
kma_lightbecon_train.ws               0
dtype: int64

In [ ]:
number_list = []
num_list = []
for number in sorted(merged_df2['busan_drag_train_final.num'].unique()):
  if (merged_df2[merged_df2['busan_drag_train_final.num']==number].isnull().sum()[6] != 0) & (merged_df2[merged_df2['busan_drag_train_final.num']==number].isnull().sum()[5] != 0):
    if len(merged_df2[merged_df2['busan_drag_train_final.num']==number]) != merged_df2[merged_df2['busan_drag_train_final.num']==number].isnull().sum()[6]:
      num_list.append(number)
    number_list.append(number)

In [ ]:
# cog, hdg -> 일부만 결측치는 선형보간

# cog, hdg -> 전체가 없는 것은 기본적은 모델로 보간 # 선형회귀 , 트리

방위각에 대하여 360 = 0이므로 바꿔주기(실침로 컬럼에는 있고, 선수미선 컬럼에는 없음)

In [ ]:
merged_df2['busan_drag_train_final.cog'].replace(360, 0, inplace=True)

sog = 102.3인 값들을 이상치라고 판단, null값 처리후 cog컬럼 처리방식과 같이 선형보간법 처리

In [ ]:
merged_df2['ulsan_drag_train_final.sog'] = merged_df2['ulsan_drag_train_final.sog'].replace(102.3, np.nan)
merged_df2

In [ ]:
df_11=merged_df2[['busan_drag_train_final.sog',	'busan_drag_train_final.cog',	'busan_drag_train_final.hdg']]

In [ ]:
from sklearn.impute import KNNImputer
Ki_1 = KNNImputer(n_neighbors = 3)

df_12=Ki_1.fit(df_11)

df_13 = df_12.fit_transform(df_11)

In [ ]:
df_13=pd.DataFrame(df_13, columns=['busan_drag_train_final.sog',	'busan_drag_train_final.cog',	'busan_drag_train_final.hdg'])
merged_df2['busan_drag_train_final.sog'] = df_13['busan_drag_train_final.sog']
merged_df2['busan_drag_train_final.cog'] = df_13['busan_drag_train_final.cog']
merged_df2['busan_drag_train_final.hdg'] = df_13['busan_drag_train_final.hdg']

In [ ]:
merged_df2.isnull().sum()

busan_drag_train_final.num          0
busan_drag_train_final.time         0
busan_drag_train_final.latitude     0
busan_drag_train_final.longitude    0
busan_drag_train_final.sog          0
busan_drag_train_final.cog          0
busan_drag_train_final.hdg          0
stn_num                             0
target                              0
kma_pagobuoy_train.stn_name         0
kma_pagobuoy_train.stn              0
kma_pagobuoy_train.max_wh           0
kma_pagobuoy_train.sig_wh           0
kma_pagobuoy_train.mean_wh          0
khoa_buoy_train.stn_name            0
khoa_buoy_train.ws                  0
khoa_buoy_train.wd_point            0
khoa_buoy_train.wd                  0
kma_lightbecon_train.stn_name       0
kma_lightbecon_train.stn            0
kma_lightbecon_train.wd             0
kma_lightbecon_train.ws             0
dtype: int64